# -----------------------------------
# Python
# -----------------------------------

__pycache__/
*.py[cod]
*$py.class

# -----------------------------------
# Virtual Environments
# -----------------------------------

.venv/
venv/
env/
ENV/

# -----------------------------------
# Environment Variables
# -----------------------------------

.env

# -----------------------------------
# Pytest
# -----------------------------------

.pytest_cache/

# -----------------------------------
# Coverage
# -----------------------------------

.coverage
htmlcov/

# -----------------------------------
# IDE
# -----------------------------------

.vscode/
.idea/

# -----------------------------------
# OS Files
# -----------------------------------

.DS_Store
Thumbs.db

# -----------------------------------
# Jupyter
# -----------------------------------

.ipynb_checkpoints/

# -----------------------------------
# Logs
# -----------------------------------

*.log

# -----------------------------------
# Build
# -----------------------------------

build/
dist/
*.egg-info/

# -----------------------------------
# Cache
# -----------------------------------

.cache/

# -----------------------------------
# Misc
# -----------------------------------

*.tmp
*.bak